@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400%3b500%3b600%3b700%3b900&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --app-height: 100%;
  --white: #fff;
  --black: #000;
  --orange: #FAB400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
}

body._lock,
body.lock {
  overflow: hidden;
}

.no-webp .wrapper{
  background: url("../img/bg.png") top/cover no-repeat; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 100px 0;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-white {
  border-radius: 100px;
  border: 1px solid var(--orange);
  background: #FAFAFA;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: all 0.3s linear;
}

.btn-white:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
}

.btn-orange {
  border-radius: 100px;
  background: var(--orange);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  transition: all 0.3s linear;
}

.btn-orange:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
}

.input {
  border-radius: 100px;
  background: #F0F0F0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  color: #010101;
  position: relative;
}

.input input {
  padding: 0 20px;
  width: 100%;
  background: none;
  border: none;
  height: 100%;
}

.input__currency {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  color: #161616;
  text-transform: uppercase;
  display: none;
}

.input_currency {
  padding-right: 40px;
}

.input_currency .input__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.input_currency .input__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.input_value {
  padding-right: 40px;
}

.search {
  border-radius: 100px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 15px;
  height: 15px;
  transform: translate(0, -50%);
  -webkit-mask: url("../img/icons/icons.svg#search") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#search") center/contain no-repeat;
  background: #7C7C7C;
}

.search input {
  width: 100%;
  border: none;
  background: none;
  padding: 10px 20px 10px 40px;
  height: 100%;
}

.search input::-moz-placeholder {
  color: #7C7C7C;
  opacity: 1;
}

.search input::placeholder {
  color: #7C7C7C;
  opacity: 1;
}

.tabs {
  position: relative;
}

.tabs__header {
  width: 100%;
  display: flex;
  border-radius: 100px;
  background: #F0F0F0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: #000 #fff;
  margin-bottom: 30px;
  position: relative;
}

.tabs__header::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tabs__item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
  color: #404040;
  text-align: center;
  position: relative;
  z-index: 1;
}

.tabs__item._active {
  color: var(--white);
  font-weight: 600;
}

.tabs__body {
  position: relative;
}

.tabs__block {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.tabs__block._active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.tabs__indicator {
  border-radius: 100px;
  background: #FAB400;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
}

.radio-options__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #010101;
  margin: 0 -15px;
  padding: 7px 15px;
  position: relative;
  transition: all 0.3s linear;
}

.radio-options__item:hover {
  border-radius: 5px;
  background: #F0F0F0;
}

.radio-options__item:hover span::after {
  border-bottom: 1px solid #F0F0F0;
}

.radio-options__item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 15px;
  height: 15px;
  transform: translate(0, -50%) scale(0);
  -webkit-mask: url("../../img/icons/icons.svg#check") center/contain no-repeat;
          mask: url("../../img/icons/icons.svg#check") center/contain no-repeat;
  background: var(--orange);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.radio-options__item._active::after {
  opacity: 1;
  visibility: visible;
  transform: translate(0, -50%) scale(1);
}

.radio-options__item span::after {
  content: "";
  position: absolute;
  height: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  transition: all 0.3s linear;
  border-bottom: 1px solid #D9D9D9;
}

.radio-options__img {
  width: 35px;
  height: 35px;
  min-width: 35px;
  position: relative;
  margin-right: 10px;
}

.radio-options__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.radio-options input {
  display: none;
}

.checkbox {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox.active::before {
  border: 1px solid var(--orange);
}

.checkbox.active::after {
  transform: translate(0, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 18px;
  height: 18px;
  border: 1px solid #7C7C7C;
  transition: all 0.3s linear;
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 3.5px;
  top: 50%;
  transform: translate(0, -50%) scale(0);
  -webkit-mask: url("../../img/icons/icons.svg#check") center/contain no-repeat;
          mask: url("../../img/icons/icons.svg#check") center/contain no-repeat;
  background: var(--orange);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.checkbox input {
  display: none;
}

.select-box {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 100%;
}

.select-box:not(:last-child) {
  margin-bottom: 15px;
}

.select-box label {
  cursor: pointer;
}

.select-box__label {
  font-family: "Archivo", sans-serif;
  color: #FCFFFD;
  font-weight: 500;
  opacity: 0.5;
  position: absolute;
  left: 10px;
  top: 10px;
}

.options-container {
  position: absolute;
  top: 110%;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.2s linear;
  overflow: hidden;
  z-index: 10;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #000;
}

.options-container._active {
  opacity: 1;
  max-height: 500px;
  overflow-y: auto;
}

.selected,
.option {
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.2s linear;
  text-transform: uppercase;
  padding: 4px 25px 4px 10px;
}

.selected {
  position: relative;
  color: var(--black);
  border-radius: 50px;
  border: 1px solid #000;
}

.selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 10px;
  transform: translate(0, -50%);
  -webkit-mask: url("../img/icons/icons.svg#arrow") center/cover no-repeat;
          mask: url("../img/icons/icons.svg#arrow") center/cover no-repeat;
  background: var(--black);
  transition: all 0.2s linear;
  border-radius: 50%;
  border: 1px solid #fff;
}

.selected._active::after {
  transform: translate(0, -50%) rotate(-180deg);
}

.option:hover {
  background: rgb(245, 245, 245);
}

.radio {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all 0.2s linear;
}

.header.fixed {
  background: #F5F5F5;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.header.fixed .header__body {
  border-bottom: none;
}

.header__body {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #CBCBCB;
  transition: all 0.2s linear;
}

.header__logo {
  color: var(--orange);
  font-size: 1.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 40px;
  z-index: 150;
}

.header__logo span {
  color: var(--black);
}

.header__lang {
  position: relative;
  z-index: 150;
}

.header__btns {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 150;
}

.header__btn {
  width: 160px;
  height: 40px;
  font-weight: 500;
}

.header__btn.btn-orange {
  font-weight: 600;
}

.header__btn:not(:last-child) {
  margin-right: 10px;
}

.header__menu-icon {
  display: none;
  position: relative;
  width: 35px;
  height: 35px;
  min-width: 35px;
  margin-left: 10px;
  z-index: 150;
}

.header__menu-icon.active::before {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  visibility: hidden;
}

.header__menu-icon.active::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.header__menu-icon:hover::before,
.header__menu-icon:hover::after {
  background: var(--orange);
}

.header__menu-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100%;
  -webkit-mask: url("../../img/icons/icons.svg#menu");
          mask: url("../../img/icons/icons.svg#menu");
  background: #000;
  transition: all 0.2s linear;
}

.header__menu-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: url("../../img/icons/icons.svg#close");
          mask: url("../../img/icons/icons.svg#close");
  background: #000;
  transition: all 0.2s linear;
}

.lang {
  margin-right: 25px;
}

.menu {
  flex: 1 1 auto;
}

.menu__body {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 550px;
  width: 100%;
}

.menu__item {
  padding: 5px 0;
}

.menu__item:not(:last-child) {
  margin-right: 10px;
}

.menu__item.active .menu__link {
  font-weight: 700;
}

.menu__item.active .menu__link::after {
  width: 100%;
}

.menu__link {
  color: var(--black);
  font-weight: 500;
  position: relative;
  text-align: center;
}

.menu__link::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 2px;
  width: 0;
  background: var(--orange);
  transition: all 0.2s linear;
}

.exchange {
  margin-top: 30px;
}

.exchange__body {
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
  padding: 30px 0 50px;
  display: flex;
}

.exchange__wrapper {
  flex: 1 1 66.666%;
  display: flex;
}

.exchange__block {
  flex: 1 1 50%;
  padding: 0 30px;
  border-right: 1px solid #D9D9D9;
}

.exchange__data {
  flex: 1 1 33.333%;
  padding: 0 30px;
}

.exchange__search {
  margin-bottom: 15px;
}

.block-exchange:first-child .block-exchange__title {
  position: relative;
}

.block-exchange:first-child .block-exchange__title::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-mask: url("../../img/icons/icons.svg#exchange") center/contain no-repeat;
          mask: url("../../img/icons/icons.svg#exchange") center/contain no-repeat;
  background: #7C7C7C;
}

.block-exchange__title {
  font-size: 1.4375rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.block-exchange__input input {
  font-size: 1.125rem;
  height: 40px;
}

.block-exchange__help {
  color: #7C7C7C;
  font-size: 0.75rem;
  margin-bottom: 25px;
}

.block-exchange__wrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.block-exchange__btn {
  border-radius: 100px;
  background: #F0F0F0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-left: 10px;
  transition: all 0.3s linear;
  position: relative;
  display: none;
}

.block-exchange__btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}

.block-exchange__btn:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  background: #e5e5e5;
}

.data-exchange__title {
  font-size: 1.4375rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.data-exchange__info {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0;
  margin-bottom: 20px;
}

.data-exchange__currency {
  color: #010101;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 0.75rem;
}

.data-exchange__help {
  color: #7C7C7C;
  font-size: 0.75rem;
}

.details-data {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 30px;
  margin-bottom: 30px;
}

.details-data__intro {
  color: #7C7C7C;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.details-data__item {
  color: #010101;
  font-size: prt(14);
}

.form-data__input {
  height: 50px;
}

.form-data__input:not(:last-of-type) {
  margin-bottom: 20px;
}

.form-data__checkbox {
  font-size: 0.75rem;
  color: #010101;
  margin: 30px 0;
}

.form-data__btn {
  height: 60px;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 600;
}

.change-data {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.change-data__item {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
}

.change-data__icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 10px;
}

.change-data__currency {
  font-size: 0.625rem;
  color: #7C7C7C;
  margin-bottom: 3px;
}

.change-data__value {
  font-size: 0.75rem;
  font-weight: 500;
}

.change-data__vs {
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin: 0 20px;
}

.change-data__vs svg {
  width: 100%;
  height: 100%;
}

.request {
  margin-top: 30px;
}

.request__body {
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
  padding: 30px 50px 50px;
}

.request__header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 40px;
}

.request__title {
  font-size: pre(23);
  font-weight: 700;
}

.request__clock {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30px;
  height: 60px;
  min-width: 30px;
}

.request__clock img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.request__number {
  font-size: pre(23);
  font-weight: 700;
}

.request__timer {
  margin-bottom: 40px;
}

.request__details {
  margin-bottom: 40px;
}

.request__info {
  color: #474747;
  border-radius: 20px;
  border: 1px solid #E9E9E9;
  background: #F1F1F1;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  padding: 30px 65px;
}

.request__btns {
  display: flex;
  align-items: center;
  gap: 60px;
}

.request__btn {
  height: 60px;
  flex: 1 1 45%;
  color: #161616;
  font-size: 1.125rem;
  font-weight: 600;
}

.timer__info {
  color: #161616;
  margin-bottom: 20px;
}

.timer__info span {
  font-weight: 700;
}

.timer__bar {
  height: 10px;
  width: 100%;
  border-radius: 100px;
  background: #F1F1F1;
  position: relative;
  overflow: hidden;
}

.timer__progress {
  position: absolute;
  border-radius: 100px;
  width: 0;
  height: 100%;
  background: url("../img/progress.svg") center/cover no-repeat;
  transition: all 1s linear;
}

.details-request {
  display: flex;
}

.details-request__code {
  border-radius: 30px;
  background: #474747;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-request__image {
  border-radius: 20px;
  background: #FFF;
  position: relative;
  width: 220px;
  height: 220px;
  margin-bottom: 40px;
}

.details-request__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.details-request__message {
  color: var(--white);
  font-weight: 700;
  text-align: center;
}

.body-request {
  flex: 1 1 auto;
  margin-right: 60px;
}

.body-request__info {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 30px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
}

.body-request__item {
  flex: 1 1 auto;
}

.body-request__vs {
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

.body-request__vs svg {
  width: 100%;
  height: 100%;
  fill: #7C7C7C;
}

.body-request__title {
  color: #161616;
  font-size: 1.4375rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.body-request__input {
  border-radius: 100px;
  background: #474747;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 60px;
}

.body-request__input:not(:last-child) {
  margin-bottom: 20px;
}

.body-request__input input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: var(--white);
  padding: 0 30px;
}

.item-request {
  display: flex;
  align-items: center;
}

.item-request:first-child {
  justify-content: flex-end;
}

.item-request:first-child .item-request__info {
  align-items: flex-end;
}

.item-request:first-child .item-request__title {
  text-align: right;
}

.item-request:first-child .item-request__image {
  margin-left: 20px;
  margin-right: 0;
}

.item-request:first-child .item-request__currency {
  text-align: right;
}

.item-request:first-child .item-request__value {
  text-align: right;
}

.item-request__info {
  display: flex;
  flex-direction: column;
}

.item-request__title {
  color: #161616;
  margin-bottom: 5px;
}

.item-request__value {
  color: #161616;
  font-weight: 600;
  margin-bottom: 5px;
}

.item-request__currency {
  font-size: 0.75rem;
  color: #7C7C7C;
}

.item-request__image {
  width: 40px;
  min-width: 40px;
  height: 40px;
  position: relative;
  margin-right: 20px;
}

.item-request__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cashback {
  margin-top: 30px;
}

.cashback__body {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  position: relative;
}

.cashback__body::after,
.cashback__body::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 430px;
}

.no-webp .cashback__body::before{
  background: url("../img/decor1.png") center/contain no-repeat; }

.cashback__body::before {
  left: 40px;
  top: 50%;
  transform: translate(0, -50%);
}

.no-webp .cashback__body::after{
  background: url("../img/decor2.png") center/contain no-repeat; }

.cashback__body::after {
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
}

.cashback__title {
  color: #161616;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.cashback__for {
  color: #161616;
  font-size: 1.4375rem;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.cashback__for a {
  color: #097CCF;
  text-decoration: underline;
}

.cashback__for a:hover {
  text-decoration: none;
}

.cashback__rules {
  color: #161616;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.cashback__rules a {
  color: #161616;
  text-decoration: underline;
}

.cashback__rules a:hover {
  text-decoration: none;
}

.cashback__form {
  max-width: 400px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.cashback__input {
  height: 60px;
}

.cashback__input input {
  font-weight: 600;
}

.cashback__input input::-moz-placeholder {
  font-weight: 400;
}

.cashback__input input::placeholder {
  font-weight: 400;
}

.cashback__input:not(:last-child) {
  margin-bottom: 20px;
}

.cashback__done {
  margin: 0 auto 40px;
  color: #161616;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}

.cashback__btn {
  height: 60px;
  width: 100%;
  color: #161616;
  font-size: 1.125rem;
  font-weight: 600;
}

.cashback__switcher {
  border-radius: 100px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  transition: all 0.3s linear;
  position: relative;
}

.cashback__switcher::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-130%, -50%);
  border-radius: 50%;
  background: #D32121;
  transition: all 0.2s linear;
}

.cashback__switcher.active::after {
  transform: translate(30%, -50%);
  background: #1bbc5c;
}

.cashback__switcher.active span:first-of-type {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.cashback__switcher.active span:last-of-type {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

.cashback__switcher:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.cashback__switcher span {
  font-weight: 500;
  text-transform: uppercase;
}

.cashback__switcher span:first-of-type {
  color: #1bbc5c;
  transition: all 0.2s linear;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

.cashback__switcher span:last-of-type {
  color: #D32121;
  transition: all 0.2s linear;
}

.cashback__switcher input {
  display: none;
}

@media (min-width: 768px) {
  .menu__link:hover::after {
    width: 100%;
  }
}

@media (max-width: 1920px) {
  .wrapper {
    padding: calc(70px + 30 * (100vw - 320px) / 1600) 0;
  }

  .input_currency .input__icon {
    width: calc(20px + 10 * (100vw - 320px) / 1600);
    height: calc(20px + 10 * (100vw - 320px) / 1600);
    right: calc(15px + 5 * (100vw - 320px) / 1600);
  }

  .tabs__item {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1600);
  }

  .header__body {
    padding: calc(20px + 10 * (100vw - 320px) / 1600) 0;
  }

  .header__logo {
    font-size: calc(1.5625rem + 5 * (100vw - 20rem) / 1600);
    margin-right: calc(10px + 30 * (100vw - 320px) / 1600);
  }

  .header__btn {
    width: calc(130px + 30 * (100vw - 320px) / 1600);
  }

  .menu__body {
    margin-right: calc(10px + 50 * (100vw - 320px) / 1600);
  }

  .exchange__body {
    padding-top: calc(20px + 10 * (100vw - 320px) / 1600);
    padding-bottom: calc(30px + 20 * (100vw - 320px) / 1600);
  }

  .exchange__block {
    padding: 0 calc(20px + 10 * (100vw - 320px) / 1600);
  }

  .block-exchange__title {
    font-size: calc(1.25rem + 3 * (100vw - 20rem) / 1600);
    margin-bottom: calc(15px + 5 * (100vw - 320px) / 1600);
  }

  .block-exchange__input input {
    font-size: calc(1rem + 2 * (100vw - 20rem) / 1600);
  }

  .request__body {
    padding-top: calc(20px + 10 * (100vw - 320px) / 1600);
    padding-bottom: calc(30px + 20 * (100vw - 320px) / 1600);
    padding-left: calc(20px + 30 * (100vw - 320px) / 1600);
    padding-right: calc(20px + 30 * (100vw - 320px) / 1600);
  }

  .request__title {
    font-size: calc(1.25rem + 3 * (100vw - 20rem) / 1600);
  }

  .request__number {
    font-size: calc(1.25rem + 3 * (100vw - 20rem) / 1600);
  }

  .request__info {
    padding: calc(20px + 10 * (100vw - 320px) / 1600) calc(20px + 45 * (100vw - 320px) / 1600);
  }

  .request__btns {
    gap: calc(10px + 50 * (100vw - 320px) / 1600);
  }

  .details-request__code {
    padding: calc(10px + 30 * (100vw - 320px) / 1600);
  }

  .details-request__image {
    width: calc(150px + 70 * (100vw - 320px) / 1600);
    height: calc(150px + 70 * (100vw - 320px) / 1600);
    margin-bottom: calc(10px + 30 * (100vw - 320px) / 1600);
  }

  .body-request {
    margin-right: calc(10px + 50 * (100vw - 320px) / 1600);
  }

  .body-request__info {
    padding: calc(20px + 20 * (100vw - 320px) / 1600) 20px;
    margin-bottom: calc(30px + 10 * (100vw - 320px) / 1600);
  }

  .body-request__vs {
    margin: 0 calc(10px + 20 * (100vw - 320px) / 1600);
  }

  .body-request__title {
    font-size: calc(1.25rem + 3 * (100vw - 20rem) / 1600);
  }

  .item-request__title {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1600);
  }

  .item-request__value {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1600);
  }

  .item-request__image {
    width: calc(30px + 10 * (100vw - 320px) / 1600);
    height: calc(30px + 10 * (100vw - 320px) / 1600);
    min-width: calc(30px + 10 * (100vw - 320px) / 1600);
  }

  .cashback__body::after,
  .cashback__body::before {
    width: calc(200px + 100 * (100vw - 320px) / 1600);
    height: calc(300px + 130 * (100vw - 320px) / 1600);
  }

  .cashback__body::before {
    left: calc(10px + 30 * (100vw - 320px) / 1600);
  }

  .cashback__body::after {
    right: calc(10px + 30 * (100vw - 320px) / 1600);
  }

  .cashback__title {
    font-size: calc(1.4375rem + 17 * (100vw - 20rem) / 1600);
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 1600);
  }

  .cashback__for {
    font-size: calc(1rem + 7 * (100vw - 20rem) / 1600);
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 1600);
  }

  .cashback__done {
    margin-bottom: calc(30px + 10 * (100vw - 320px) / 1600);
    font-size: calc(1rem + 2 * (100vw - 20rem) / 1600);
  }
}

@media (max-width: 992px) {
  .header__menu-icon {
    display: block;
  }

  .lang {
    margin-right: 10px;
  }

  .menu__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--app-height);
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding-top: calc(90px + 40 * (100vw - 320px) / 672);
  }

  .menu__body.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    flex-direction: column;
    justify-content: space-between;
    max-width: unset;
    margin-bottom: 20px;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .exchange__wrapper {
    flex-direction: column;
    border-right: 1px solid #D9D9D9;
  }

  .exchange__block {
    border-right: none;
  }

  .block-exchange:first-child {
    margin-bottom: 30px;
  }

  .block-exchange:first-child .block-exchange__title::after {
    display: none;
  }

  .block-exchange__input {
    flex: 1 1 auto;
  }
}

@media (max-width: 768px) {
  .input__currency {
    display: block;
  }

  .exchange__wrapper {
    border-right: none;
  }

  .exchange__block {
    flex: unset;
  }

  .exchange__data {
    flex: unset;
    padding: 0;
  }

  .exchange__tabs {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    margin: 0 -15px;
    padding: 0 15px;
  }

  .block-exchange__btn {
    display: block;
  }

  .data-exchange__title {
    display: none;
  }

  .data-exchange__info {
    display: none;
  }

  .data-exchange__currency {
    margin-bottom: 20px;
  }

  .change-data {
    display: none;
  }

  .request__header {
    flex-direction: column;
    padding: 0;
    margin-bottom: 20px;
  }

  .request__title {
    margin-bottom: 10px;
  }

  .request__clock {
    display: none;
  }

  .request__number {
    color: #7C7C7C;
    font-size: 1rem;
    font-weight: 400;
  }

  .details-request__code {
    display: none;
  }

  .body-request {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .body-request__info {
    margin: 0 calc(-20px + -5 * (100vw - 320px) / 1600) 30px;
  }

  .item-request {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-request:first-child {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .item-request__image {
    margin-bottom: 10px;
  }

  .cashback__body {
    background: #fff;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }

  .cashback__body::after,
  .cashback__body::before {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__btns {
    margin-bottom: 20px;
  }

  .request__btns {
    flex-direction: column;
    gap: 20px;
  }

  .request__btn {
    flex: unset;
    width: 100%;
  }
}

.webp .wrapper{ background: url(../img/bg.webp) top/cover no-repeat; }

.webp .cashback__body::before{ background: url(../img/decor1.webp) center/contain no-repeat; }

.webp .cashback__body::after{ background: url(../img/decor2.webp) center/contain no-repeat; }